{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}


{% 
set classes = [
    'clear-both',
    'content',
    'sticky'
] 
 %}
<div{{ attributes.addClass(classes) }}>
        <table id='acm' {{ attributes.addClass(classes) }}>
         <thead>
            <tr style="white-space: nowrap;">
               <th id='acm_id' >ID<img width="16" height="auto"  src="modules/custom/code_challenge/img/arrows.png" usemap="#arrows"><map name="arrows"><area shape="rect" coords="0,0,16,8" href=""  alt="id" class="up"><area shape="rect" coords="0,8,16,16" href=""  alt="id" class="down"></map></th>
                <th id='acm_name'>Name</th>
                <th id='acm_conf'>Conference</th>
                <th id='acm_divs'>Division<img width="16" height="auto"  src="modules/custom/code_challenge/img/arrows.png" usemap="#arrows"><map name="arrows"><area shape="rect" coords="0,0,16,8" href=""  alt="divi" class="up"><area shape="rect" coords="0,8,16,16" href=""  alt="divi" class="down"></map></th>
           </tr>
           </thead>
           <tbody>
       {% for row in content.rows %}
        <tr>
       <td class='data_sort_id'>{{ row.id }}</td><td> {{ row.display_name }}</td><td>{{ row.conference }}</td><td  class='data_sort_divi'>{{ row.division }}</td>
      </tr>
       {% endfor %}
       </tbody>
      </table>
        
     </div>
   